img {
    width:1.5%;
    height:auto
}
#footer {
    background-color: rgb(37, 37, 54);
    text-align: center;
    padding: 0;
}
.navbar-brand {
    color: white;
    text-decoration: none;
    font-size: 0.7rem;
}
@media only screen and (max-width: 600px) {
    img {
        width:5%;
        height:auto
    }
    #footer {
        padding: 0.8rem;
        font-size:medium;
    }
}

