/* search bar */
#searchBar {
    width: 77%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 7%;
}
#searchBar #name{
    text-align: left;
}
#name {
    width: 100%;
}
#name:focus { 
    outline: none !important;

    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}
#search {
    background-color: #205375;
    color: white;
    border: none;
    border-radius: 5%;
    margin-top: 1%;
    margin-bottom: 3%;
}
button:disabled
{
    opacity:0.7;
}
#clear {
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5%;
}
#clear:disabled
{
    opacity:0.7;
}

/* search result list */
#container {
    width: 77%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    overflow-y: hidden;
    margin: 0 auto;
    white-space: nowrap;
}
.card-body{
    background-color: #205375;
    color: white;
    word-wrap:break-word;
    white-space: normal;
}
.card-body:hover {
    background-color: #112B3C;
}
.card {
    text-align: center;
    min-width:18%; 
    width: 18%;
}
.card-title,
.card-text {
    margin-left: auto;
    margin-right: auto;
}
.card-text {
    word-wrap:break-word;
    white-space: normal;
}

/* nav bar */
#artistBtn {
    background-color: #205375;
    color: white;
    border: none;
    width: 50%;
}
#artworksBtn {
    background-color: white;
    color: #205375;
    border: none;
    width: 50%;
    margin-top: 3%;
    margin-bottom: 1.5%;
}
#loadArt {
    margin-top: 3%;
    margin-bottom: 1.5%;
}
.alert{
    width: 77%;
    margin-left: auto;
    margin-right: auto;
}
#alertArtworks{
    width: 100%;
}
#formBtn{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* artist info */
#artistInfo {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 7%;
    
}
#name {
    font-size: 1.3rem;
    text-align: center;
}
#nationality {
    font-size: 0.7rem;
    text-align: center;
    
}
#biography {
    text-align: left;
    word-wrap:break-word;
    white-space: normal;
}

/* artworks */
#categoriesBtn {
    background-color: #205375;
    border: #205375;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#categoriesBtn:hover,
#categoriesBtn:focus {
    background-color: #205375;
    outline: none;
    box-shadow: none;
}
#artworkContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 7%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
#cardBodyArtworks {
    background-color: white;
    color:black;
}
#cardBodyArtworks:hover {
    background-color: white;    
}
#cardArtworks{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
    /* width: 22%; */
    display: table-cell;
}
#cardImageArtworks{
    /* min-height: 250px; */
    max-width: 300px;;
}
#cardImageArtworks img{
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    #searchBar {
        padding-top: 15%;
    }
    #artistInfo {
        padding-bottom: 60%;
    }
    #artworkContainer {
        padding-bottom: 30%;
    }
    #cardArtworks{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
    .card {
        min-width:65%;
        width:65%; 
    }
    #search{
        margin-top: 4%;
        margin-bottom: 10%;
        padding: 2% 4%;
    }
    #clear {
        padding: 2% 4%;
    }
    #biography{
        text-align: justify;
    }
    .row,
    #formBtn,
    #container,
    #searchBar,
    #artworkContainer,
    #alertSearch,
    #artistInfo
     {
        width:95%; 
    }
    #alertArtworks
    {
        width: 35%;
    }
    #artworksBtn{
        margin-top: 15%;
        margin-bottom: 6%;
    }
  }
